@import "tailwindcss";

@theme {
  --font-display: "Sathoshi", "sans-sherif";
  --color-page: #eae8ff;
  --color-background: #2d3142;
  --color-uranian-blue: #b0d7ff;
  --color-dark-purple: #31081f;
}
